@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@700&family=Inter:wght@200&display=swap');

$small-text--page: 19px;
$medium-text--page: 24px;
$large-text--page: 29px;

$small-header--page: 24px;
$meduim-header--page: 36px;
$large-header--page: 60px;
$large-header-weight: 900;

$text-under-white: #433c3c;

$small-padding: 9rem 2rem;
$large-padding: 12rem 2rem;

body {
  transition-duration: .8s;
  width: 100%;
  overflow-x: hidden;
}

a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  text-transform: none;
  color: #FFF;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Akshar', sans-serif;
}

.small-text {
  font-size: 18px;
}

.nav-brand {
  padding: 1rem;
  font-size: 26px;
  color: #fff;
}

.nav-wrapper {
  background-color: #404eed;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-between;
}

.nav-link {
  padding: 15px 18px;
  margin: 0 5px;

  & a {
    color: #000;
    font-weight: 600;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: rgb(6, 250, 6);
  }
}

.nav-ham {
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.nav-overlay {
  position: fixed;
  width: 400px;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 7px;
  z-index: 1;
}

.close-overlay {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 35px;
  color: #ed2a2a;
  cursor: pointer;
  transform: rotate(0deg);
  transition-duration: .3s;

  &:hover {
    transform: rotate(180deg);
    transition-duration: .3s;
  }
}

.ham-icon {
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  transition-duration: .3s;

  &:hover {
    transition-duration: .3s;
    color: rgb(183, 176, 176);
  }
}

.cv-button {
  list-style: none;
  background-color: #15d024;
  padding: 15px 18px;
  margin: 0 5px;
  border-radius: 25px;
  text-transform: uppercase;

  &:hover {
    background-color: #109a1b;
  }

  & a {
    font-weight: 600;
  }
}

.logo {
  width: 200px;
}

.first-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #404eed;
}

.hero-avatar {
  width: 430px;
  position: absolute;
  bottom: 0;
}

.hero-content-container {
  width: 35%;
  color: #fff;
  display: grid;
  padding: $large-padding;
  text-align: center;
}

.hero--header {
  font-size: $large-header--page;
}

.second-col {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.second-content-container {
  font-weight: $large-header-weight;
  color: $text-under-white;
  width: 35%;
  display: grid;
  padding: $large-padding;
  text-align: left;
}

.second--header {
  font-size: $large-header--page;
}

.third-col {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.third-content-container {
  font-weight: $large-header-weight;
  color: $text-under-white;
  width: 35%;
  display: grid;
  padding: $large-padding;
  text-align: right;
}

.third--header {
  font-size: $large-header--page;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ser-button {
  background-color: #3780FF;
  color: #FFF;
  border: none;
  font-weight: 800;
  font-size: 18px;
  padding: 10px 35px;
  transition-duration: .2s;
  box-shadow: 9px -10px 3px;
  margin-top: 15px;

  & a {
    color: #FFF;
  }

  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition-duration: .2s;
    box-shadow: 9px -10px 3px;
  }

  &:nth-child(1) {
    background-color: #13d913;
  }
}

.button-container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.button-styled {
  color: #000;
  padding: 13px 14px;
  font-weight: 900;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition-duration: .5s;

  &:hover {
    background-color: rgb(225, 221, 221);
    transition-duration: .5s;
  }
}

.roadmap-btn-wrapper {
  margin: 1rem 0;
}

.gh-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  justify-content: center;
}

// 404 Page Styles
.notfound-container {
  padding: 14rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-avatar {
  width: 25%;
}

// Mobile Screens
@media only screen and (min-width: 320px) and (max-width: 480px) {

  p {
    font-size: $small-text--page;
  }

  .nav-brand {
    width: 100%;
  }

  .hero-content-container {
    width: 100%;
    padding: $small-padding;
  }

  .hero--header {
    font-size: $meduim-header--page;
  }

  .second-content-container {
    width: 100%;
  }

  .second--header {
    font-size: $meduim-header--page;
  }

  .third-content-container {
    width: 100%;
  }

  .third--header {
    font-size: $meduim-header--page;
  }

  .work-wrapper {
    height: 100%;
  }

  .project-coll {
    flex-direction: column;
    height: 100vh;
  }

  .project-content {
    flex-direction: column;
  }

  .icon-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .phone-preview {
    width: 300px;
    padding: 30px 0;
  }

  .content-wrapper {
    width: 100%;
  }

  .bg-one {
    display: none;
  }
}


// Tablet Screens
@media only screen and (min-width: 481px) and (max-width: 768px) {

  p {
    font-size: $medium-text--page
  }

  .hero-content-container {
    width: 70%;
    padding: $small-padding;
  }

  .hero--header {
    font-size: $meduim-header--page;
  }

  .second-content-container {
    width: 70%;
  }

  .second--header {
    font-size: $meduim-header--page;
  }

  .third-content-container {
    width: 70%;
  }

  .third--header {
    font-size: $meduim-header--page;
  }

  .work-wrapper {
    height: 100%;
  }

  .project-coll {
    flex-direction: column;
    height: 100vh;
  }

  .project-content {
    flex-direction: column;
  }

  .icon-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .phone-preview {
    width: 400px;
    padding: 30px 0;
  }

}

// Laptop Screens
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  p {
    font-size: $large-text--page;
  }

  .icon-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}