.belt-container {
	display: flex;
	flex-direction: row;
	transform: translateY(0);

	>div {
		background-color: #29272a;
		width: 400px;
		height: 250px;
		margin: 20px;
		transition: .5s ease;

		&:hover {
			transform: translateY(-5px);
			transition: .5s ease;
		}
	}
}

// Mobile Screens
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.belt-container {
		flex-direction: column;
	}
}


// Tablet Screens
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.belt-container {
		flex-direction: column;
	}
}

// Laptop Screens
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.belt-container {
		flex-direction: column;
	}
}